.preview-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-grow: 1;
}

.preview-error {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
}

.react-draggable-transparent-selection .preview-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
}

.preview-wrapper iframe {
    background-color: white;
    flex-grow: 1;
}